@page "/"
@model Chirp.Web.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
}
<div class = "navbar">

    <div class = "pages">
        <a href = "/">public timeline</a>
    </div>
        <!-- Defines the 'pagelist' which will function as a way to navigate
        simply by using numbers in the bottom of a page-->
        <ul class="pagelist">
            @for(int i = 0; i <= Model.count / 32; i++){
                if(Model.currentPage == 0){
                    if(i > Model.currentPage + 3){
                        if(i == Model.lastPage){
                            <fill>..</fill>
                            <li onclick = "location.href = '/?page=@i'" > @i</li>
                        }
                    } else if(Model.currentPage == i){
                        <li id = "current" onclick = "location.href = '/?page=@i'" > @i</li>
                    }else{
                         <li onclick = "location.href = '/?page=@i'" > @i</li>
                    }



                }else if (Model.currentPage == Model.lastPage){
                     if(i < Model.currentPage - 3){
                        if(i == 0){
                            <li onclick = "location.href = '/?page=@i'" > @i</li>
                            <fill>..</fill>
                        }
                    } else if(Model.currentPage == i){
                        <li id = "current" onclick = "location.href = '/?page=@i'" > @i</li>
                    }else{
                         <li onclick = "location.href = '/?page=@i'" > @i</li>
                    }



                }else{
                    if(i > Model.currentPage + 2 || i < Model.currentPage -2){
                        if(i == Model.lastPage){
                            if(Model.currentPage + 3 < Model.lastPage){
                                <fill>..</fill>
                            }
                            <li onclick = "location.href = '/?page=@i'" > @i</li>

                        } else if(i == 0){
                            <li onclick = "location.href = '/?page=@i'" > @i</li>
                            if(Model.currentPage - 3 > 0){
                                <fill>..</fill>
                            }
                        }
                    } else if(Model.currentPage == i){
                        <li id = "current" onclick = "location.href = '/?page=@i'" > @i</li>
                    } else{
                        <li onclick = "location.href = '/?page=@i'" > @i</li>
                    }
                }
            }
        </ul>


        <div class = "buttons">
        <!-- Defines the 'prev' button which will function as a way to go to the
        previous page by clicking on it-->
        @if(Model.currentPage != 0){
            <a href = "/?page=@Model.previousPage">
                <button class = "left" id = "button"> 
                    <img src="/images/arrow.png" class = "arrowRight"/>
                </button>
            </a>
        }else{
            <button class = "left" id = "limit"> 
                <img src="/images/arrow.png" class = "arrowRight"/>
            </button>
        }

        <!-- Defines the 'next' button which will function as a way to go to the
        next page by clicking on it-->
        @if(Model.currentPage != Model.lastPage){
            <a href = "/?page=@Model.nextPage">
                <button class = "right" id = "button">
                    <img src="/images/arrow.png" class = "arrow"/>
                </button>
            </a>
        } else{
            <button class = "right" id = "limit">
                <img src="/images/arrow.png" class = "arrow"/>
            </button>
        }
     </div>

</div>

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <div class="cheep-content">
                        <strong class="author">
                            <a href="/@cheep.author">@cheep.author</a>
                        </strong>
                        <p class="message">
                            @cheep.text
                        </p>
                        <span class="date">&mdash; @ToDateTime(cheep.timestamp)</span>
                    </div>
                </li>
            }
        </ul>
    }else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

 @functions{
        public DateTime ToDateTime(long value){
            return Chirp.Repositories.HelperFunctions.FromUnixTimeToDateTime(value);
    }
    }
