@model Chirp.Web.models.CheepPartialView

<div>
    <div class="cheep-item">
        <strong class="cheep-author"> <a href="/users/@Model.Author">@Model.Author</a> </strong>

        <p class="cheep-body"> @Model.Body </p>
        

        
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="cheep-image">
                <img src="@Model.Image" alt="Cheep Image" />
            </div>
        }
        @if (string.IsNullOrEmpty(Model.Image))
        {
            <div class="cheep-content">
                <div class="cheep-image">
                    <img src="/uploads/frog.jpg" alt="Cheep Image" />
                </div>
            </div>
        }
        <span class="cheep-date"> &mdash; @Model.ToDateTime(Model.Date) </span>
        <div class="LikeButtons">
            @if (@Model.IsLiked)
            {
                <button class="current" id="@Model.LikeButtonId()" type="submit" asp-handler="Like">
                    Like
                </button>
            }
            else
            {
                <button id="@Model.LikeButtonId()" type="submit" asp-handler="Like">
                    Like
                </button>
            }

            @if (@Model.IsDisliked)
            {
                <button class="current" id="@Model.DislikeButtonId()" type="submit" asp-handler="Dislike">
                    Dislike
                </button>
            }
            else
            {
                <button id="@Model.DislikeButtonId()" type="submit" asp-handler="Dislike">
                    Dislike
                </button>
            }
        </div>

        <div class="likes">
            <p>@Model.Likes </p>
            <p>@Model.Dislikes </p>
        </div>

        <script>

            document.getElementById("@Model.LikeButtonId()").addEventListener("click", () => {
                const antiforgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

                fetch(window.location.href + (window.location.href.includes("?") ? "&handler=Like" : "?handler=Like"), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": antiforgeryToken
                    },
                    body: JSON.stringify({
                        Username: '@User!.Identity!.Name',
                        cheepId: @Model.Id
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log("success:", @Model.Id)
                        console.log("success:", data["success"])
                        location.reload()
                    })
                    .catch(error => {
                        console.error("Error:", error);

                    })
            })

        </script>
        <script>
            document.getElementById("@Model.DislikeButtonId()").addEventListener("click", () => {
                const antiforgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

                fetch(window.location.href + (window.location.href.includes("?") ? "&handler=Dislike" : "?handler=Dislike"), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": antiforgeryToken
                    },
                    body: JSON.stringify({
                        Username: '@User!.Identity!.Name',
                        cheepId: @Model.Id
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log("success:", @Model.Id)
                        console.log("success:", data["success"])
                        location.reload()
                    })
                    .catch(error => {
                        console.error("Error:", error);

                    })
            })

        </script>
    </div>
</div>
