<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
     <h1 class = "header">
            <img src="/images/icon1.png" onclick = "window.location = '/?page=0'" class = "Icon" alt="Icon1"/>
        <form>
            <div class = "searchbar">
                <input class = "search-input" name = "SearchName" type="search" placeholder = "Search">
                <div class = "search-menu">
                    @if(Model.Authors != null){
                    <div class = "search-items">
                        @foreach(var author in @Model.Authors){
                        <a href = "/@author.Name">
                            <span>@author.Name</span>
                        </a>
                        }                    
                    </div>
                    }
                </div>
                <img src="/images/filter.png">
            </div>
        </form>

        <div class = "login"> Log in</div>
    </h1>

    <div class = "navbar">
        <!-- Defines the 'pagelist' which will function as a way to navigate
        simply by using numbers in the bottom of a page-->
        <ul class="pagelist">
            @for(int i = 0; i <= Model.count / 32; i++){
                if(Model.currentPage == 0){
                    if(i > Model.currentPage + 3){
                        if(i == Model.lastPage){
                            <fill>..</fill>
                            <li onclick = "location.href = '/?page=@i'" > @i</li>
                        }
                    } else if(Model.currentPage == i){
                        <li id = "current" onclick = "location.href = '/?page=@i'" > @i</li>
                    }else{
                         <li onclick = "location.href = '/?page=@i'" > @i</li>
                    }



                }else if (Model.currentPage == Model.lastPage){
                     if(i < Model.currentPage - 3){
                        if(i == 0){
                            <li onclick = "location.href = '/?page=@i'" > @i</li>
                            <fill>..</fill>
                        }
                    } else if(Model.currentPage == i){
                        <li id = "current" onclick = "location.href = '/?page=@i'" > @i</li>
                    }else{
                         <li onclick = "location.href = '/?page=@i'" > @i</li>
                    }



                }else{
                    if(i > Model.currentPage + 2 || i < Model.currentPage -2){
                        if(i == Model.lastPage){
                            if(Model.currentPage + 3 < Model.lastPage){
                                <fill>..</fill>
                            }
                            <li onclick = "location.href = '/?page=@i'" > @i</li>

                        } else if(i == 0){
                            <li onclick = "location.href = '/?page=@i'" > @i</li>
                            if(Model.currentPage - 3 > 0){
                                <fill>..</fill>
                            }
                        }
                    } else if(Model.currentPage == i){
                        <li id = "current" onclick = "location.href = '/?page=@i'" > @i</li>
                    } else{
                        <li onclick = "location.href = '/?page=@i'" > @i</li>
                    }
                }
            }
        </ul>


        <div class = "buttons">
        <!-- Defines the 'prev' button which will function as a way to go to the
        previous page by clicking on it-->
        @if(Model.currentPage != 0){
            <a href = "/?page=@Model.previousPage">
                <button class = "left" id = "button"> 
                    <img src="/images/arrow.png" class = "arrowRight"/>
                </button>
            </a>
        }else{
            <button class = "left" id = "limit"> 
                <img src="/images/arrow.png" class = "arrowRight"/>
            </button>
        }

        <!-- Defines the 'next' button which will function as a way to go to the
        next page by clicking on it-->
        @if(Model.currentPage != Model.lastPage){
            <a href = "/?page=@Model.nextPage">
                <button class = "right" id = "button">
                    <img src="/images/arrow.png" class = "arrow"/>
                </button>
            </a>
        } else{
            <button class = "right" id = "limit">
                <img src="/images/arrow.png" class = "arrow"/>
            </button>
        }
        </div>

    </div>
    
    <div class=page>
        <div class=body>
            @RenderBody()
        </div>
        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
